@backdroundMenu: black;
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  //background: @colorMenu;
  //border: 5px double @backdroundMenu;
  width: 100%;
  height: auto;
  display: block;
  flex-basis: 30%;
  text-align: center;
  //color: @backdroundMenu;
  //float: left;
}

img {
  width: 600px;
  height: 600px;
  border: 4px groove @backdroundMenu;
  cursor: pointer;
  outline: none;
}