html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="/build/css/styles.css")
        link(rel="stylesheet", type="text/css", href="build/css/auction.css")
        //link(rel="shortcut icon", href="/public/images/favicon.png", type="image/png")
        title Аукцион картин
    body
        table#mainMenu
            tr
                th.mainMenuButton Картины
                th.mainMenuButton Участники
                //th.mainMenuButton Сохранить настройки
        table#info
            caption#tableTitle Настройки аукциона
            tr
                td Дата начала
                td
                    input.config#beginDate(type="date")
            tr
                td Время начала
                td
                    input.config#beginTime(type="time")
            tr
                td Таймаут продажи картины
                td
                    input.config#timeout(type="time")
            tr
                td Интервал отсчёта до окончания торга по картине
                td
                    input.config#interval(type="time")
            tr
                td Пауза перед торгом для изучения информации
                td
                    input.config#pause(type="time")
            tr#savesett
                th.mainMenuButton(colspan=2) Сохранить настройки

        script(src='/build/scripts/jquery.js')
        script(src='/build/scripts/auctionListener.js')