html
    head
        meta(charset="utf-8")
        title Аукцион картин
    body
        table#mainMenu
            tr
            th.mainMenuButt Участники
            th.mainMenuButt Аукцион
        div
            ul#paintings
                each element in paint
                    li#element
                        img(src=element.src)
                        p
                            =element.author
                            | &nbsp;-&nbsp;
                            =element.name
                        p.invisibility
                            =element.id

