html
    head
        meta(charset="utf-8")
        title Аукцион картин
    body
        table#mainMenu
            tr
            th.mainMenuButt Участники
            th.mainMenuButt Аукцион
        div
            ul#paintings
