html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="/build/css/styles.css")
        link(rel="stylesheet", type="text/css", href="/build/css/participants.css")
        //link(rel="shortcut icon", href="/public/images/favicon.png", type="image/png")
        title Аукцион картин
    body
        table#mainMenu
            tr
                th.mainMenuButt Картины
                th.mainMenuButt Аукцион
                //th.mainMenuButt Добавить участника
        table#info
            tr#infoTitle
                td#th1 Участник
                td#th2 Доступные средства
                td#th3(colspan="2") Действия
            each element in participants
                tr
                    td
                        =element.name
                    td
                        =element.money
                    td.infoButton.changeButton Изменить запас средств
                    td.infoButton.delButton Удалить участника
            tr#addUnit
                th.mainMenuButt Добавить участника

        div#shadowCreate
            div#modulCreate
                p
                input#name(type="text", placeholder="Имя участника")
                p
                input#money(type="text", placeholder="Запас средств")
                p
                input.modulButton#createMan(type="submit", value="Добавить")
                p
                input#modulCreateClose(type="submit", value="Назад")
        div#shadowMoney
            div#modulMoney
                p
                input#newMoney(type="text", placeholder="Запас средств")
                p
                input.modulButton#changeMoney(type="submit", value="Изменить")
                p
                input#modulMoneyClose(type="submit", value="Назад")
                div.invisibility#targetButton
        div#shadowIsDelete
            div#modulIsDelete
                p#nameDelete
                input.modulButton#sayYes(type="submit", value="Да")
                input.modulButton#modulIsDeleteClose(type="submit", value="Нет")
                div.invisibility#targetTR

        script(src='/build/scripts/jquery.js')
        script(src='/build/scripts/participantsListener.js')