#records-info {
    font-size: xx-large;
    background-color: #f3e1b9;
    /*font-family: 'Montserrat', 'Roboto', Helvetica, sans-serif;*/
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-align: center;
}

#records-table th,
#records-table td {
    padding: 0.25em 0.5em;
    text-align: left;
}

#records-table th:nth-child(2),
#records-table td:nth-child(2) {
    text-align: right;
}

#records-table td {
    background-color: #c29a57;
    border: none;
}

#records-table th {
    background-color: #90480c;
    color: #fff;
    border: none;
}

#records-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0.25em 1em;
    border: none;
}
