html,body{
    height: 100%;
    margin: 0;
}
/*делаем чёрный фон и выравниваем всё по центру*/
body {
    /*background: black;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
/*толщина холста — 1 пиксель, белый цвет*/

.game{
    z-index: 4;
    position: relative;
}
.playfield{
    /*background: rgba(62, 62, 62, 0.7);*/
    background: rgba(50, 50, 50, 0.7);
    border: 2px solid #262626;
    left: 0;
    top: 0;
}
.limiter{
    z-index: 3;
    /*background: rgba(62, 62, 62, 0.7);*/
}
.info{
    position: relative;
    z-index: 4;
    width: 256px;
    height: 644px;
    /*border: 2px solid #262626;*/
}
.next{
    /*border: 2px solid black;*/
    z-index: 10;
    position: relative;
    padding: 0;
    margin-left: 2px;
    left: 0;
    background: rgba(50, 50, 50, 0.7);
    /*background: rgba(62, 62, 62, 0.7);*/

    /*padding-bottom: 10px;*/
    /*border: 2px solid #262626;*/
}
.background{
    background: rgba(170, 170, 170, 0.7);
}
.status{
    /*margin-top: 10px;*/
    padding: 0;
    width: 252px;
    height: 476px;
    border: 2px solid black;
    background: rgba(170, 170, 170, 0.7);
    position: relative;

}
.score, .lvl, .lines{
    width: 100%;
    height: 155px;
    font-size: 4em;
    font-family: fantasy;
    text-align: center;
    color:  #7aff1b;
    /*text-shadow:2px 5px darkgray;*/
    border: 2px solid black;
    background: rgba(128, 128, 128, 0.7);


}